*{
    margin: 0px;
    padding: 0px;;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Rubik+Pixels&family=Sono:wght@500&display=swap');
.container{
    width: 100%;
    height: 100vh;
}
.container1{
    background-image: url('./images/backdesk1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.container1 h2{
    position: absolute;
    color: white;
    padding: 40px 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik Pixels', cursive;
    font-family: 'Sono', sans-serif;
}
.nav a{
    float: right;
    color: white;
    padding: 40px 40px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.down{
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 90%;
}
.nav :hover{
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width:768px){
    .container1{
        background-image: url('./images/backmobile.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .container1 h2{
        font-size: 12px;
    }
    .nav a{
        font-size: 15px;
    }
    .nav :hover{
        color:navy;
    }
}

